<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mohammed</td>
            <td>Dwina</td>
            <td>dwinatech@hotmail.com</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Khalled</td>
            <td>Yaman</td>
            <td>yaman@hotmail.com</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Nasir</td>
            <td>Sudan</td>
            <td>sudan@hotmail.com</td>
        </tr>
    </tbody>
</table>