body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #594242;
}

.col-3 a{
  color: #fff;
  text-decoration: none;
}

a{
  color: #00B7FF;
}

.navbar {
    margin-bottom: 1.5em;
    background: #000;
    border-bottom: 4px solid #8e2828;
}

.card-header:first-child {
    font-size: 2.5em;
}
.card .btn{
    border-radius: 0;
}

.login{
 background: #333;
    color: #fff;
    padding: 2em 4em 2em 4em;
    margin-top: 5em;
    border-radius: 1.5em;
    border: 2px solid #2d2d2d;
    box-shadow: -6px -6px 5px #212020;
}

.register{
  background: #333;
    color: #fff;
    padding: 2em 4em 2em 4em;
    margin-top: 5em;
    border-radius: 1.5em;
    border: 2px solid #2d2d2d;
    box-shadow: -6px -6px 5px #212020;
}

.add-edit-article,
.add-edit-category{
    background: #333;
    color: #fff;
    padding: 2em 4em 2em 4em;
    border-radius: 1.5em;
    border: 2px solid #2d2d2d;
    box-shadow: -6px -6px 5px #212020;
}

.category-sccusess,
.article-sccusess{
  color: #0ff;
  font-size: 20px;
}
.footer{
  text-align: center;
  margin-top: 40px;
  color: #fff;
}
